body {
  margin: 0;
  overflow-x: hidden;
  width:100%;
  height:100vh;
  background-color: white;
}

text {
  padding: 8px;
  font-family: Arial;
  width:100%;
  height:100vh;
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap:break-word;
}
